header h1 {
    padding-left: 30px;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    padding-right: 2px;
}

header nav ul li {
    padding: 10px 15px;
    margin-top: 5px;
    margin-bottom: 10px;
}

header a {
    padding: 0px 10px 5px 10px;
    text-decoration: cadetblue;
    border-bottom: gray;
    color: #546e7a;
}