:root {
    --light-blue: #56FCF1;
    --dark-blue: #45A29E;
    --light-gray: #C5C6C7;
    --dark-gray: #1F2833;
    --black: #0B0C10;
}
* {
    margin: 0%;
    padding: 0%;
}

body {
    background-image: url(./images/background-image3.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

nav {
    background-image: url(./images/background-image3.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

footer {
    background-image: url(./images/background-image3.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: space-between;
}


.name {
    padding: 20px;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--light-blue);
}

.nav-link {
    padding: 20px 20px 20px 20px;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--light-blue);
}


.website-hero {
    height: 300px;
    background-image: url(./images/clouds.jpeg);
    background-size: cover;
    background-attachment: fixed;
    border-bottom-left-radius: 30px 30px;
    border-bottom-right-radius: 30px 30px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 50px;
}

.face-photo {
    margin-left: 600px;
}

.hero-message {
    padding-right: 30px;
    padding-bottom: 20px;
    font-size: 50px;
    font-weight: bold;
    color: var(--dark-gray);
}

.about-me-flex {
    display: flex;
}

.about-me-siding {
    padding: 0 20px 0 20px;
    margin: 0 50px 0 0;
    font-size: 50px;
    display: inline;
    color: var(--light-blue);
    border-right: var(--dark-blue);
    border-right-style: solid;
}

.info-about-me1 {
    height: fit-content;
    padding: 0 10px 0 0;
    border-style: solid;
    border-color: var(--dark-blue);
    box-shadow: navy;
    font-size: x-large;
    font-family: 'Style Script', cursive;
    color: var(--light-blue);
    font-weight: bold;
}
.info-about-me2 {
    height: fit-content;
    padding: 0 10px 0 0;
    border-style: solid;
    border-color: var(--dark-blue);
    box-shadow: navy;
    font-size: x-large;
    margin-left: 10px;
    font-family: 'Style Script', cursive;
    color: var(--light-blue);
    font-weight: bold;
}

.work-projects-flex {
    display: flex;
    flex-direction: row;
}

.work-projects-siding {
    padding: 100px 43px 0 20px;
    margin: 0 50px 0 0;
    font-size: 50px;
    display: inline;
    color: var(--light-blue);
    border-right: var(--dark-blue);
    border-right-style: solid;
}

.project-images {
    display: block;
    display: flex;
}

.image-links {
   height: 589.61px;
   width: 610.08px;
}

.image-links2 {
    height: 589.61px;
    width: 610.08px;
}

.footer-flex-container {
    display: flex;
    flex-direction: row;
}

footer a {
    padding: 0px 10px 5px 10px;
    text-decoration: cadetblue;
    border-bottom: gray;
    font-size: 2em;
}

.contact-flex {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    padding-top: 30px;
}

.foot-link {
    padding: 20px 20px 20px 20px;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--light-blue);
}

footer {
    margin-top: 50px;
}

